body, img, div{
  background-color: "#141414!important";
}
a{
  text-decoration: none;
  color: #fff;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root{
  background-color: #141414!important;
}

.ForwardRef\(Grid\)-root-35.MuiGrid-root.css-vj1n65-MuiGrid-root:before {
  content: "";
  position: relative;
  display: flex;
  height: 40px;
  z-index: 99999999999;
  opacity: 0.8;
  box-shadow: 0px -116px 200px 100px #141414;
}
.header{
  position: fixed;
  transition: all 0.4s ease;
  background-color: transparent;
}
.header-fixed {
  position: fixed;
  transition: all 0.4s ease;
    background-color: #141414!important;
}

.header-mobile{
  position: fixed;
  transition: all 0.4s ease;
  background-color: transparent;
}

@media (max-width: 1200px) {
  h1{
    font-size: 50px!important;
  }
  .swiper-slide .slider-text{
    font-size: 15px!important;
    line-height: 20px;
    height: fit-content!important;
  }

  .swiper-slide:hover .slider-text{
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .swiper-slide:hover{
    height: 100%!important;
  } 

  .swiper-slide .slider-text {
    display: block!important;
  }
}